@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(23, 23, 23);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 26px 40px 26px 32px;
}
header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .logo img {
  width: 200px;
  height: 61px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .container .icons {
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 38, 38);
  gap: 10px;
  border-radius: 50px;
  display: flex;
  margin-left: 150px;
}
header .container .icons .icon {
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
  background-color: rgb(38, 38, 38);
  cursor: pointer;
}
header .container .icons .shop-nft-button {
  background-color: rgb(23, 23, 23);
  padding: 8px 16px 8px 16px;
  margin: 4px 0;
  gap: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
header .container .icons .shop-nft-button .nft-button {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .container .icons .shop-nft-button span {
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(246, 206, 14);
  font-weight: 600;
}
header .container .player-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  cursor: pointer;
  width: auto;
}
header .container .player-action .bell-icon {
  position: relative;
}
header .container .player-action .bell-icon .bell-count {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: -6px;
  right: -6px;
  background-color: rgb(246, 206, 14);
  color: rgb(23, 23, 23);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 12px;
}
header .container .player-action .player-img {
  padding-bottom: 8px;
  position: relative;
  cursor: pointer;
}
header .container .player-action .player-img .player-image {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}
header .container .player-action .player-img .player-image img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .container .player-action .player-img .dropdown-menu {
  width: 119px;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  background: rgb(33, 33, 33);
  border-radius: 7px;
  padding: 12px;
  display: none;
  transition: all 0.3s ease;
}
header .container .player-action .player-img .dropdown-menu:hover {
  display: block;
}
header .container .player-action .player-img .dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
header .container .player-action .player-img .dropdown-menu ul li {
  width: 100%;
  box-sizing: border-box;
}
header .container .player-action .player-img .dropdown-menu ul li a {
  color: rgb(255, 255, 255);
  font-size: 12px;
  cursor: pointer;
  display: block;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
}
header .container .player-action .player-img .dropdown-menu ul li .border {
  width: 100%;
  height: 1px;
  border: 1px solid #343434;
  margin: 5px 0;
}
header .container .player-action .player-img .dropdown-menu ul li:hover {
  background: rgba(255, 255, 255, 0.08);
}
header .container .player-action .player-img .dropdown-menu ul li:last-child {
  border-bottom: none;
}
header .container .player-action .player-img:hover .dropdown-menu {
  display: block;
}
header .container .player-action .player-id {
  width: auto;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 16px 20px 16px 20px;
}
header .container .player-action .player-id .green {
  width: 16px;
  height: 16px;
  background-color: rgb(7, 144, 54);
  border-radius: 50%;
}
header .container .player-action .player-id span {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding-left: 12px;
}

.welcome-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 68px;
  padding: 0 56px 0 32px;
}
.welcome-container .welcome-container-img {
  width: 100%;
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.welcome-container .welcome-container-img .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
}
.welcome-container .welcome-container-img .welcome-img-text {
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 73px;
  width: 450px;
}
.welcome-container .welcome-container-img .welcome-img-text h1 {
  font-size: 60px;
  line-height: 105%;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.welcome-container .welcome-container-img .welcome-img-text .welcome-container-button {
  padding: 15px 16px 15px 16px;
  gap: 8px;
  border-radius: 50px;
  background-color: rgb(246, 206, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 286px;
  margin-top: 50px;
  cursor: pointer;
  white-space: nowrap;
}
.welcome-container .welcome-container-img .welcome-img-text .welcome-container-button .nft-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}
.welcome-container .welcome-container-img .welcome-img-text .welcome-container-button span {
  color: rgb(23, 23, 23);
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
}

main {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 97px;
}
main .featured-popular-container {
  width: 100%;
  padding: 0 36px;
}
main .featured-popular-container .titles {
  width: 100%;
  display: flex;
  gap: 24px;
  margin-bottom: 6px;
}
main .featured-popular-container .titles .title {
  width: 100%;
  font-weight: 700;
  line-height: 130%;
  color: #ffffff;
  font-size: 20px;
}
main .featured-popular-container .featured-popular-card {
  width: 100%;
  display: flex;
  gap: 24px;
}
main .featured-popular-container .featured-popular-card .featured-container {
  width: 100%;
  border-radius: 16px;
  background-color: #202020;
  display: flex;
}
main .featured-popular-container .featured-popular-card .featured-container .image {
  width: 100%;
  padding: 25px 72px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details {
  width: 100%;
  padding: 32px 0;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .title {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .title h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 40px;
  line-height: 130%;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .description h5 {
  color: rgb(96, 96, 96);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .description p {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #ffffff;
  padding-right: 25px;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .ability {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 47px;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .ability h5 {
  font-weight: 700;
  font-size: 12px;
  color: #606060;
  line-height: 100%;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .ability .ability-icons {
  display: flex;
  gap: 47px;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .ability .ability-icons .icon {
  display: flex;
  align-items: center;
  gap: 4px;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .ability .ability-icons .icon span {
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: #ffffff;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 32px;
  cursor: pointer;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .buttons .eth {
  display: flex;
  gap: 12px;
  align-items: center;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .buttons .eth span {
  font-weight: 700;
  font-size: 14px;
  color: #f6c20e;
  line-height: 100%;
}
main .featured-popular-container .featured-popular-card .featured-container .img-details .buttons .button {
  display: flex;
  gap: 8px;
  padding: 15px 34px;
  background-color: #f6c20e;
  border-radius: 50px;
}
main .featured-popular-container .featured-popular-card .popular-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
main .featured-popular-container .featured-popular-card .popular-container .players {
  background-color: #202020;
  border-radius: 16px;
  display: flex;
  height: 212px;
}
main .featured-popular-container .featured-popular-card .popular-container .players .player-img {
  padding: 13px 22px 9px 8px;
}
main .featured-popular-container .featured-popular-card .popular-container .players .player-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .featured-popular-container .featured-popular-card .popular-container .players .player-desc {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 20px;
}
main .featured-popular-container .featured-popular-card .popular-container .players .player-desc h1 {
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  line-height: 130%;
  margin-bottom: 12px;
}
main .featured-popular-container .featured-popular-card .popular-container .players .player-desc h5 {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: #606060;
  margin-bottom: 10px;
}
main .featured-popular-container .featured-popular-card .popular-container .players .player-desc p {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
  padding-right: 22px;
}
main .featured-popular-container .featured-popular-card .popular-container .players .player-desc .eth {
  display: flex;
  gap: 2px;
  align-items: center;
  margin-bottom: 14px;
}
main .featured-popular-container .featured-popular-card .popular-container .players .player-desc .eth span {
  font-weight: 500;
  line-height: 100%;
  font-size: 12px;
  color: #f6c20e;
}
main .featured-popular-container .featured-popular-card .popular-container .players .player-desc .buttons {
  display: flex;
  gap: 3px;
  padding: 7px 12px;
  background-color: #f6c20e;
  border-radius: 16px;
  white-space: nowrap;
  align-items: center;
  width: 98px;
  height: 32px;
  cursor: pointer;
}
main .featured-popular-container .featured-popular-card .popular-container .players .player-desc .buttons span {
  color: #171717;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
}
main .featured-popular-container .featured-popular-card .popular-container .weapons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #202020;
  border-radius: 16px;
}
main .featured-popular-container .featured-popular-card .popular-container .weapons img {
  width: 100%;
}
main .featured-popular-container .featured-popular-card .popular-container .weapons .weapons-desc {
  display: flex;
  padding-left: 20px;
  gap: 17px;
  padding-bottom: 20px;
}
main .featured-popular-container .featured-popular-card .popular-container .weapons .weapons-desc .weapons-left h1 {
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  line-height: 130%;
  padding-bottom: 10px;
}
main .featured-popular-container .featured-popular-card .popular-container .weapons .weapons-desc .weapons-left p {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 160%;
  width: 167px;
}
main .featured-popular-container .featured-popular-card .popular-container .weapons .weapons-desc .weapons-right {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .featured-popular-container .featured-popular-card .popular-container .weapons .weapons-desc .weapons-right .eth {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 14px;
}
main .featured-popular-container .featured-popular-card .popular-container .weapons .weapons-desc .weapons-right .eth span {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #f6c20e;
}
main .featured-popular-container .featured-popular-card .popular-container .weapons .weapons-desc .weapons-right .buttons {
  display: flex;
  gap: 8px;
  padding: 7px 12px;
  background-color: #f6c20e;
  border-radius: 50px;
  align-items: center;
  cursor: pointer;
}
main .featured-popular-container .featured-popular-card .popular-container .weapons .weapons-desc .weapons-right .buttons span {
  font-weight: 500;
  color: #171717;
  font-size: 12px;
  line-height: 100%;
}

section {
  margin-top: 80px;
  padding: 0 36px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
section .item1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
section .item1 .title {
  width: 100%;
  height: 100%;
}
section .item1 .title h3 {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  line-height: 130%;
}
section .item1 .cards {
  display: flex;
  width: 100%;
  gap: 24px;
  border-radius: 16px;
}
section .item1 .cards .card {
  width: 100%;
  display: flex;
  gap: 22px;
  background-color: #202020;
  border-radius: 16px;
}
section .item1 .cards .card .image {
  width: 100%;
  padding: 13px 0 9px 8px;
}
section .item1 .cards .card .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .item1 .cards .card .image-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 0 22px;
}
section .item1 .cards .card .image-desc h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 12px;
}
section .item1 .cards .card .image-desc h5 {
  font-weight: 700;
  font-size: 12px;
  color: #606060;
  line-height: 100%;
  margin-bottom: 10px;
}
section .item1 .cards .card .image-desc p {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 22px;
}
section .item1 .cards .card .image-desc .eth {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 16px;
}
section .item1 .cards .card .image-desc .eth span {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #f6c20e;
}
section .item1 .cards .card .image-desc .buttons {
  display: flex;
  gap: 8px;
  background-color: #f6c20e;
  border-radius: 50px;
  padding: 7px 12px;
  align-items: center;
  cursor: pointer;
  width: 100px;
  white-space: nowrap;
}
section .item1 .cards .card .image-desc .buttons span {
  font-weight: 500;
  font-size: 12px;
  color: #171717;
  line-height: 100%;
  margin: 0;
}
section .item2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
section .item2 .title {
  width: 100%;
}
section .item2 .title h3 {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  line-height: 130%;
}
section .item2 .cards {
  display: flex;
  width: 100%;
  gap: 24px;
}
section .item2 .cards .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  border-radius: 16px;
  gap: 22px;
}
section .item2 .cards .card img {
  width: 100%;
}
section .item2 .cards .card .weapons-desc {
  display: flex;
  padding-left: 20px;
  gap: 17px;
  padding-bottom: 20px;
}
section .item2 .cards .card .weapons-desc .weapons-left h1 {
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  line-height: 130%;
  padding-bottom: 10px;
}
section .item2 .cards .card .weapons-desc .weapons-left p {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 160%;
  width: 167px;
}
section .item2 .cards .card .weapons-desc .weapons-right {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section .item2 .cards .card .weapons-desc .weapons-right .eth {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 14px;
}
section .item2 .cards .card .weapons-desc .weapons-right .eth span {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #f6c20e;
}
section .item2 .cards .card .weapons-desc .weapons-right .buttons {
  display: flex;
  gap: 8px;
  padding: 7px 12px;
  background-color: #f6c20e;
  border-radius: 50px;
  align-items: center;
  cursor: pointer;
}
section .item2 .cards .card .weapons-desc .weapons-right .buttons span {
  font-weight: 500;
  color: #171717;
  font-size: 12px;
  line-height: 100%;
}

footer {
  width: 100%;
  background-color: #202020;
}
footer .footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}
footer .footer-container .left {
  display: flex;
  align-items: center;
  gap: 40px;
}
footer .footer-container .left .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 161px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
footer .footer-container .left .item span {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  cursor: pointer;
}
footer .footer-container .right {
  display: flex;
  gap: 50px;
}
footer .footer-container .right span {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */