@import "reset";

body {
  background: #0f0f0f;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  max-width: 550px;
  position: relative;

  i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
  }

  input {
    width: 100%;
    height: 52px;
    padding-left: 50px;
    border-radius: 30px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: #202020;
    color: #fff;

    &::placeholder {
      color: #777;
      font-size: 16px;
    }
  }
}

.filter-button {
  height: 52px;
  width: 150px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #202020;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;

  i {
    font-size: 16px;
  }

  .count {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #f5c400;
    color: #000;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-box {
  width: 730px;
  height: 360px;
  border-radius: 20px;
  display: flex;
  background-color: #202020;
}

.player-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 320px;
    height: 350px;
  }
}

.player-info {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.player-name {
  h2 {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .player-storm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      font-size: 36px;
      font-weight: 600;
      color: #f6ce06;
    }

    h3 {
      font-size: 14px;
      color: #fff;
    }
  }
}

.player-statistic {
  background: #080808;
  border-radius: 15px;
  padding: 35px;

  .title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 600;
  }
}

.statistic-info {
  display: flex;
  justify-content: space-between;

  .box {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
      font-size: 13px;
      color: #888;
    }

    strong {
      font-size: 14px;
      color: #f6ce06;
      font-weight: 600;
    }
  }
}
.player-ability {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 35px;
  .title {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
  }
  .player-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .player-box {
    display: flex;
    align-items: center;
    gap: 6px;

    i {
      font-size: 16px;
      color: #f6ce06;
    }

    p {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;

  .box-end {
    width: 730px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;

    .weapons {
      width: 50%;
      padding: 13px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: 20px;
      background-color: #202020;
      box-sizing: border-box;

      .weapons-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .weapons-title {
          font-size: 16px;
          font-weight: 600;
          color: #fff;
        }

        .weapons-select {
          background: #111;
          border: 1px solid #fff;
          border-radius: 20px;
          padding: 8px 14px;
          color: #fff;
          display: flex;
          align-items: center;
          gap: 8px;

          i {
            font-size: 10px;
          }
        }
      }

      .weapons-card {
        border-radius: 20px;
        text-align: center;

        img {
          margin: 0 auto;
          max-width: 100%;
          height: 130px;
          width: 230px;
        }

        .weapon-name {
          color: #f6ce06;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .weapon-desc {
          font-size: 12px;
          color: #888;
        }
      }
    }

    .power-ability {
      background-color: #202020;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      justify-content: flex-start;
      box-sizing: border-box;

      h1 {
        font-size: 16px;
        color: #fff;
        padding-top: 25px;
        font-weight: 600;
      }

      img {
        width: 240px;
        height: 130px;
      }
      .power-title {
        color: #f6ce03;
        font-weight: 600;
      }
      .power-desc {
        color: #888;
        padding-bottom: 10px;
        font-size: 12px;
      }
    }
  }
}
